<footer class="bg-dark text-center text-white">
  <div class="container-fluid p-3 pb-0">
    <section class="mb-3">
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/QuantumLeb" role="button">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/company/quantum-trading-co/mycompany/" role="button">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/quantumleb" role="button">
        <i class="fab fa-instagram"></i>
      </a>
      <a class="btn btn-outline-light btn-floating m-1" href="tel:+9611818723" role="button">
        <i class="fas fa-phone-alt"></i>
      </a>
      <a class="btn btn-outline-light btn-floating m-1" href="mailto:info@quantum.cc" role="button">
        <i class="fas fa-envelope"></i>
      </a>
    </section>
  </div>
  <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2024 Copyright:
    <a class="text-white" href="https://quantum961.com/">quantum961.com</a>
  </div>
</footer>
